.userCard {
   display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: #162b2b;
    color:white;
    padding: 50px 70px;
    row-gap: 20px;
}

.welcome {

}
.userData {
    display: flex;
    flex-direction: column;

}

.userData p {
    display: flex;
    justify-content: space-between;
    gap:20px;
    padding:20px 50px;
}
.actions {
        display: flex;
        justify-content: space-around;
}

