.userCard {
    background-color: #162b2b;
    color: white;
    border-radius: 6px;
    padding: 3rem;
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
}
.userEmail {
    font-size: 1.2rem;
}
.userData {
    display: flex;
    flex-direction: column;
}
.userData > * {
    display: flex;
    justify-content: space-between;
    padding-right: 4rem;
}
