.loginForm {
    display: flex;
    flex-direction: column;
}

.loginForm input {
    margin: 5px;
    border-radius: 10px;
    height: 2rem;
    font-size: 1.4rem;
}
.loginForm input:focus {
    background-color: #88dfdf;
    color:#008080;
    height: 2rem;
    font-size: 1.4rem;
}

.errorInfo {
    background-color: rgba(255,137,147,0.82);
    width: 50vh;
}
