.addTaskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label {
    font-size: 1.25rem;
    margin:2rem 0 1rem;
}
.addTaskForm input {
    margin: 5px;
    border-radius: 7px;
    height: 2rem;
    font-size: 1.4rem;
    text-align: center;
}
.addTaskForm textarea {
    width: 50vh;
    height: 10vh;
    border-radius: 10px;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 10px;
}
.addTaskForm textarea:focus {
    background-color: #88dfdf;
    color:#162b2b;

}
.addTaskForm input:focus {
    background-color: #88dfdf;
    color:#162b2b;
    height: 2rem;
    font-size: 1.4rem;
}
.errorInfo {
    background-color: rgba(255,137,147,0.82);
    width: 50vh;
    animation: errorInfo-appear 0.3s ease-in forwards;

}
.info {
    background-color: #88dfdf;
    width: 50vh;
    animation: errorInfo-appear 0.3s ease-in forwards;
}
@keyframes errorInfo-appear {
    from {
        opacity: 0;
        transform: translateY(10vh);
    }
    to {
        opacity:100;
        transform: translateY(0);

    }
}