.item {
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    border-radius: 6px;
    background-color: #c2e7f0;
    width: 90vh;
    box-shadow: #162b2b 1px 8px 11px;
    box-sizing: content-box;

}
.title {
    border-right: 2px solid #162b2b;
    padding-right: 55px;
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
    color: #000000;
}
.content {
    padding-left: 50px;
}

.actions {
    display: flex;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
}
.actions button {
    margin: 0;
}

.actions img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0.2rem;
    opacity: 0.6;
}
.actions img:hover {
    opacity: 1;
    transform: scaleX(-1);
}
@media only screen and (max-width: 740px) {


    .item {
        margin: 1rem 0;
        padding: 0;
        width: 100%;
        min-height: 10vh;

    }
    .title {
        border-right: 2px solid #162b2b;
        margin: 0 0 0 20px;
        text-align: left;
        font-size: 0.8rem;
        color: #000000;
    }
    .content {
        margin:0;
    }


    .actions {
        display: flex;
        padding:10px;
        align-items: center;
        justify-content: center;
    }


    .actions img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        opacity: 0.6;
    }
    .actions img:hover {
        opacity: 1;
        transform: scaleX(-1);
    }

}
