.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.info {
    font-family: Roboto;
    font-size: 1.4rem;


}
.noTasksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add {
    font-family: Roboto;
    font-size: 1.4rem;
    color: #162b2b;
    text-decoration: underline rgba(99,105,220,0.82);
}
.add:hover{
    text-decoration: underline rgba(0,48,220,0.82);
}
@media only screen and (max-width: 740px){
    .list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }
}