.welcomeContainer {
    color: white;
    border-radius: 6px;
    padding: 3rem;
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    font-size: 1.2rem;

}
.text {
    text-indent: 2rem;
    letter-spacing: 0.2rem;
}
.data {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

@media only screen and (max-width:360px){
    .welcomeContainer {
        width: 100%;
        position: relative;
        margin:0 90px;

    }
    .text {
        background-color: green;
        text-indent: 2rem;
        letter-spacing: 0.2rem;
    }
    .data {
        background-color: yellowgreen;
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
}